.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
    
}

.slider-container li {
    height: auto !important;
}

.slider .slide img {
    width: 30%;
}

.flex .skill img{
    width: 50px !important;
}

.skill {
    width: 100px;
}

.img-small-lang {
    width: 25% !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    
}

@keyframes scroll  {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}